/* Category Colors */
.songs {
  background-color: #3f51b5;
}

.comedy {
  background-color: #ac6e1d;
}

.shayari {
  background-color: #ef4444;
}

.stories {
  background-color: #24ad4d;
}

.dialogues {
  background-color: #a124ad;
}
.motivation {
  background-color: #adab24;
}
.poetry {
  background-color: #0db0b6;
}
.celebrations{
  background:linear-gradient(to right, #BF953F, #d4cd7a, #B38728, #d4cd7a, #AA771C);
  // background-color: #FFD700;
}

.education {
  background-color: #ad4424;
}

.others {
  background-color: #405747;
}
