.creator-card {
  display: flex;
  width: 600px;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  background-color: $color-white;
  align-self: center;
  //padding: 1rem;
  margin: 3rem auto 2rem auto;
  box-shadow: 1px 1px 6px 0px $color-grey-400;
  cursor: default;
  border-radius: 0.3rem;
  &.max {
    height: 700px;
  }
   &--image {
      flex: 30%;
      .creator-card__roundedimage {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 0.3rem;
      }
    }
  &__header {
    display: flex;
    &--items {
      flex: 70%;
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      .creator-card__header--item {
        margin: 0.3rem 1rem;
      }
      .creator-card__author {
        color: $color-black-700;
        margin-top: 0.5rem;
        font-weight: bold;
      }
      .creator-card__aboutme {
        height: 8.5rem;
        width: 360px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.1rem;
        padding:0.5rem;
        border: 1px solid $color-indigo-500;
        border-radius: 0.3rem;
      }
    }
  }

  .subscribe-btn {
    border: 1px solid white;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1rem;
    background-color: $color-indigo-500;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0.6rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    align-self: flex-end;
  }
  
}

.creatorCard__action--row {
  display: flex;
  width: 600px;
  text-align: center;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  align-self: center;
  margin: 3rem auto 2rem auto;
  box-shadow: 1px 1px 6px 0px $color-grey-400;
  cursor: default;
  border-radius: 0.3rem;
 
  .creator-card__action {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.15rem;
    //margin:1rem 1.5rem;
    margin: 1rem 0.5rem;
    &--item {
      display: flex;
      flex-wrap: wrap;
      margin: 0 0.2rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.button-container{
  display:flex;
  flex-direction:row;
  text-align:center;
  justify-content:center;

  .playButton, .shareButton,.fsButton1, .fsButton2 {
    padding:0.5rem;
    width:11rem;
    margin:0rem 1rem ;
    margin-bottom:1rem;
    border-radius:5px;
    font-weight:bold;
  }
  
  .playButton{
    background-color:$color-indigo-500;
    color:white;
  }

  .shareButton{
    border:1px solid $color-indigo-500;
    color:$color-indigo-500;
  }

  .fsButton1{
    border:1px solid $color-indigo-500;
    color:$color-indigo-500;
  }
  .fsButton2{
    background-color:$color-grey-400;
  }
}

.subscribe-modal{
  display: flex;
  flex-direction: column;
  width:500px;
  margin:200px auto;
  background-color: white;
  .header-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:10px 0px;
    padding:auto 10px;
    .heading{
      margin:10px;
      text-align: center;
      margin:0rem auto;
      font-size: 2rem;
    }
    .close-button{
      width:50px;
      height:50px;
      cursor: pointer;
    }
  }
  .login-section{
    display: block;
    //padding:10px;
    margin:10px auto;
    justify-content: center;
    align-items: center;
    .gmail-login{
      width:200px;
      height:50px;
      background-color: red;
      color:white;
      margin:10px;
    }
    .facebook-login{
      width:200px;
      height:50px;
      background-color: blue;
      color:white;
      margin:10px;
    }
  }
}

.unsubscribe-modal{
  display: flex;
  flex-direction: column;
  width:500px;
  margin:200px auto;
  background-color: white;

  .header-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:10px 0px;
    padding:auto 10px;
    .heading{
      margin:10px;
      text-align: center;
      margin:0rem auto;
      font-size: 1.5rem;
    }
    .close-button{
      width:50px;
      height:50px;
      cursor: pointer;
    }
  }

  .options{
    display: block;
    //padding:10px;
    margin:10px auto;
    justify-content: center;
    align-items: center;
    .unsubscribe-button{
      width:200px;
      height:50px;
      background-color: red;
      color:white;
      margin:10px;
    }

    .cancel-button{
      width:200px;
      height:50px;
      background-color: blue;
      color:white;
      margin:10px;
    }
  }
  
}



@media only screen and (max-width: $mobile-res) {
  .creator-card {
    margin: 2rem auto 2rem auto;

    max-width: 325px;
    &__header {
      &--image {
        flex: 40%;
        .creator-card__roundedimage {
          width:140px;
        }
      }
      &--items {
        flex: 60%;
        margin-left: 0.3rem;
        .creator-card__author{
          font-size:1.5rem;
        }
        .creator-card__aboutme {
          font-size: 0.8rem;
          padding:0.3rem;
          font-weight:normal;
          width: 165px;
          height:8rem;
        }
      }
    }
  }

  .creatorCard__action--row {
    //padding:0.5rem;
    max-width: 325px;
    .creator-card__action {
      font-size: 1rem;
      
      &--item {
        margin: 0 0.1rem;
      }
    }
  }

  .button-container{
    max-width: 325px;
    margin:0rem auto;
    margin-bottom:1rem;
    .playButton,.fsButton1,.fsButton2, .shareButton{
      margin:0rem 0.2rem;
    }
  }

  .subscribe-modal{
    width:350px;
    .header-section{
    
      .heading{
        margin:5px;
        font-size: 1.5rem;
      }
    }
    .login-section{
      display: flex;
      flex-direction: column;
      margin:10px auto;
      justify-content: center;
      align-items: center;
      .gmail-login, .facebook-login{
        width:150px;
      }
    }
  }

  .unsubscribe-modal{
    width:350px;
    .header-section{
      .heading{
        margin:5px;
        font-size: 1.5rem;
      }
    }
  
    .options{
      display: flex;
      flex-direction: column;
      .unsubscribe-button{
        width:200px;
        height:50px;
        background-color: red;
        color:white;
        margin:10px;
      }
  
      .cancel-button{
        width:200px;
        height:50px;
        background-color: blue;
        color:white;
        margin:10px;
      }
    }
    
  }
}
