.tags {
   border-radius: 0.4rem;
   border-width: 2px;
   --tag-bg: #4527a0;
   --tag-hover: #ce0078;
   --tag-text-color: #fff;
   --tags-border-color: #4527a0;
   --tag-text-color--edit: #111;
   --tags-hover-border-color: #4527a0;
   --tags-focus-border-color: #4527a0;
   --tag-remove-btn-color: #fff;
   --tag-invalid-color: #c75858;
   --tag-remove-btn-bg--hover: #b61313; 
}